.App-carousel {
    height: 679px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.animationing{
    opacity: 1;
    margin-top: 75px;
    animation: animations 1s;
}

@keyframes animations {
    from {opacity: 0};
    to {opacity: 1};
}