.App {
  text-align: center;
  background: url('../images/cropped.jpg') fixed center center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px){
  .App-header {
    height: 679px;
    padding: 20px;
    opacity: 0.85;
    margin: 0px;
    padding: 0px;
    background-color: white;
  }
}

.App-header {
  height: 679px;
  padding: 20px;
  opacity: 0.85;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.App-h1{
  font-family: 'Open Sans Light';
  width: 300px;
  font-size: 60px;
  font-style: italic;
  animation:fade 3s, spacing 1.5s;
  letter-spacing: 7px;
  color: black;
	-webkit-transform:fade, spacing;
}

@media screen and (max-width: 600px){
  .App-h1{
    font-family: 'Open Sans Light';
    width: 278px;
    text-align: center;
    font-size: 55px;
    font-style: italic;
    animation:fade 3s, spacing 1.5s;
    letter-spacing: 7px;
    color: black;
    margin-right: 0px;
    margin-bottom: 15px;
    -webkit-transform: fade, spacing;
  }
}

.div-line{
  height: 180px;
  width: 5px;
  margin-top: 10px;
  animation: border 2s;
  background-color: black;
}

@media screen and (max-width: 600px){
  .div-line{
    margin-top: 0px;
    height: 5px;
    width: 180px;
    animation: border 2s;
    background-color: black;
  }
}  

@media screen and (max-width: 600px){
  .divh1{
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}

.divh1{
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divh1 h3{
    font-family: 'Open Sans Light';
    font-size: 20px;
    width: 320px;
    font-style: italic;
    animation: fade 3s, spacing2 1.5s;
    margin-left: 30px;
    letter-spacing: 1px;
    text-align: left;
}

@media screen and (max-width: 600px){
  .divh1 h3{
    font-family: 'Open Sans Light';
    font-size: 15px;
    width: 278px;
    font-style: italic;
    animation: fade 3s, spacing2 1.5s;
    margin-left: 0px;
    letter-spacing: 1px;
    text-align: center;
  }
}

@keyframes backgrounds{
  0% {transform: scale(0,1);}
  40% {transform: scale(0,1);}
}

@keyframes fade{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes spacing{
  from{letter-spacing: 1px;}
  to{letter-spacing: 7px}
}

@keyframes spacing2{
  from{letter-spacing: 0px;}
  to{letter-spacing: 1px}
}

@keyframes border2{
  0% {transform: scale(0,1);}
}

@keyframes border{
	0% {transform: scale(1,0);}
}
