.App {
  text-align: center;
  background: url('../images/cropped.jpg') fixed center center no-repeat;
  background-size: cover;
}

.App-header {
  height: 679px;
  padding: 20px;
  color: white;
}

.App-anim{
	width: 640px;
  height: 150px;
  margin: auto;
  left: 0; right: 0; top: 0; bottom: 0;
	position: absolute;
	border-left: 3px solid white;
	border-right: 3px solid white;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  animation:border 1.5s;
}

.App-anim2{
	width:640px;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
	position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  height:150px;
	border-bottom: 3px solid white;
	border-top: 3px solid white;
	animation:border2 1.5s;
}

.App-anim3{
	width:633px;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
	position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
  height:143px;
  background: rgb(32, 32, 32);
  animation:backgrounds 1.5s;
}

.App-h1{
  text-align: center;
	font-size: 60px;
  animation:fade 3s, spacing 1.5s;
  letter-spacing: 7px;
  color: white;
  z-index: 10;
  font-family: Calibri;
	-webkit-transform:fade, spacing;
}

.divh1{
  height: 54%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes backgrounds{
  0% {transform: scale(0,1);}
  40% {transform: scale(0,1);}
}

@keyframes fade{
	from{opacity: 0;}
	to{opacity: 1;}
}

@keyframes spacing{
  from{letter-spacing: 1px;}
  to{letter-spacing: 7px}
}

@keyframes border2{
  0% {transform: scale(0,1);}
}

@keyframes border{
	0% {transform: scale(1,0);}
}
