p{
    padding: 15px;
    font-family: 'Calibri Light';
    font-size: 15px;
}

.App-introduce {
    height: 679px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    animation: bg 1s;
}

.App-p-div {
    text-align: justify;
    color: black;
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
    width: 500px;
    opacity: 1;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
}

.App-p-div:hover {
    color: white;
    background-color: black;
}

.yellow{
    color: black;
    background-color: #f1c40f;
    border-left: 3px solid #f1c40f;
    border-right: 3px solid #f1c40f;
}

/* Animation */
.index {
    z-index: 1;
    animation: rights 1s;
    opacity: 1;
    margin-left: 0px;
}

.App-introduce-bg {
    height: 679px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.show{
    width: 50%;
    margin-top: 10px;
    opacity: 1;
    animation: lefts 1s;
    z-index: 1;
    margin-right: 0px;
}

.hoverImg{
    width: 421px;
    height: 676px;
    position: absolute;
    background-color: white;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hoverImg a{ 
    text-decoration: none;
    color: gray;
    font-size: 50px;
    font-family: Calibri;
    letter-spacing: 3px;
    -webkit-transition: letter-spacing 0.5s;
    -moz-transition: letter-spacing 0.5s;
    transition: letter-spacing 0.5s;
}

.hoverImg a:hover{
    letter-spacing: 10px
}

.hoverImg:hover{
    opacity: 1;
}

@keyframes bg{
    from { background-color: black }
    to { background-color: white }
}

@keyframes lefts {
    from { opacity: 0; margin-right: -70px; }
    to { opacity: 1; margin-right: 0px; }
}

@keyframes rights {
    from { opacity: 0; margin-left: -100px; }
    to { opacity: 1; margin-left: 0px; }
}