@use '../../assets/styles/colors.scss' as colors;

.works-container {
  opacity: 1;
  padding: 32px;
  height: calc(100vh - 63px);
  // background-color: colors.$text-color-1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.works-h1-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}