@use '../../assets/styles/colors.scss' as colors;

.work-section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.work-section-description {
  background-color: colors.$primary-1;
  width: 50%;
  height: 100%;
}
