@use '../../assets/styles/colors.scss' as colors;

.work-section {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
}

.work-section-year {
  height: 100%;
  width: 40%;
  display: flex;
}

.work-section-company {
  height: 100%;
  width: 60%;
  display: flex;
}
