@use '../../assets/styles/colors.scss' as colors;
@use '../../assets/styles/typography.scss' as typography;

.work-section {
  background-color: colors.$primary-1;
  margin: 72px 0px; 
}

.work-section-title {
  @extend .italic;
  @extend .medium;
  @extend .size-68;
  color: colors.$secondary-2;
  padding: 0px 12px 4px 12px;
  text-align: center;
  margin: 0px;
}

.work-section-stacks {
  margin: 0%;
  @extend .size-16;
  color: colors.$secondary-2;
  text-align: center;
}
