$primary-1: #2f4b91;
$primary-2: #A6CDC6;
$secondary-1: #DDA853;
$secondary-2: #FBF5DD;
$text-color-1: #464646;

.primary-1 {
  color: $primary-1
}
.primary-2 {
  color: $primary-2
}
.secondary-1 {
  color: $secondary-1
}
.secondary-2 {
  color: $secondary-1
}
.text-color-1 {
  color: $text-color-1
}