$primary-1: #800000;
$primary-2: #982b1c;
$secondary-1: #dda853;
$secondary-2: #ffffff;
$secondary-3: #e9ecf0;
$tertiary-1: #2f4b91;
$tertiary-2: #a6cdc6;
$text-color-1: #464646;

.primary-1 {
  color: $primary-1;
}
.primary-2 {
  color: $primary-2;
}
.secondary-1 {
  color: $secondary-1;
}
.secondary-2 {
  color: $secondary-2;
}
.secondary-3 {
  color: $secondary-3;
}
.tertiary-1 {
  color: $tertiary-1;
}
.tertiary-2 {
  color: $tertiary-2;
}
.text-color-1 {
  color: $text-color-1;
}
