.italic { font-style: italic; }
.bold { font-weight: bold; }
.medium { font-weight: 600; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-20 { font-size: 20px; }
.size-24 { font-size: 24px; }
.size-28 { font-size: 28px; }
.size-32 { font-size: 32px; }
.size-68 { font-size: 68px; }
.size-80 { font-size: 80px; }
.size-92 { font-size: 92px; }

.font-playwrite {
  font-family: "Playwrite AU SA", serif;
}

h1 {
@extend .italic;
  font-family: "Playwrite AU SA", serif;
  font-size: 80px;
  margin: 0px;
}

h2 {
  @extend .italic;
  margin: 0px;
  font-size: 24px;
}
